html{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    height: inherit;
    width: inherit;
    margin: 0;
    padding: 0;
}

.container{
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    background-color:#121314;
    align-items: center;
    justify-content: baseline;
}

.title{
    width:inherit;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: last center;
    justify-content: space-evenly;
    color: aliceblue;
    background-color: #1D1F21;
    border-bottom:2px solid aliceblue;
    font-family: 'League Spartan', sans-serif;
    font-size: 25px;
    font-weight: 900;
}

.menu_left{
    width: 30%;
    padding-left: 30px;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: baseline;
}

.menu_center{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu_right{
    width: 30%;
    height: inherit;
    padding-right: 30px;
    display: flex;
    align-items:center;
    justify-content: right;
}

.btn_menu{
    height: 40px;
    width: 80px;
    border-radius: 12px;
    border-color: aliceblue;
    background-color: #1D1F21;
    color: aliceblue;
    transition: 0.8s;
    font-family: 'League Spartan', sans-serif;
    font-weight: bold;
    font-size: small;
    letter-spacing:normal;
}

.section{
    width:95%;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: last center;
    justify-content: baseline;
    color: aliceblue;
    background-color: #121314;
    font-family: 'League Spartan', sans-serif;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1.5px;
}

.datet{
    width:60%;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: last baseline;
    justify-content: baseline;
    color: aliceblue;
    background-color: #121314;
    font-family: 'League Spartan', sans-serif;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1.5px;

}
.content{
    width: inherit;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
    align-items: first center;
}

.searchbar{
    width: 60%;
    height: 80px;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: first baseline;
    justify-content: center;
}

#bar{
    width: 60%;
    height: 35px;
    padding-left: 10px;
    background-color: #121314;
    border-radius: 5px 0 0 5px;
    border: solid 2px aliceblue;
    border-right: none;
    color: aliceblue;
    outline: none;
    font-family: 'League Spartan', sans-serif;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1.5px;
}

#searchBut{
    height: 41px;
    border-radius: 0 5px 5px 0;
    border-color: aliceblue;
    background-color: aliceblue;
    border-right: solid 2px aliceblue;
    border-top: solid 2px aliceblue;
    border-bottom: solid 2px aliceblue;
    border-left:none;
    font-family: 'League Spartan', sans-serif;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: normal;
    position: relative;
    transition: 0.2s;
}

#searchBut:hover{
    background-color: #121314;
    border-right: solid 2px aliceblue;
    border-top: solid 2px aliceblue;
    border-bottom: solid 2px aliceblue;
    color: aliceblue;
}

.btn_menu:hover{
    border-color: #121314;
    background-color: aliceblue;
    color: #121314;
    size: 110%;
}
