html{
    width: 100%;
    height: 100%;
    padding: 0;
    margin:0;
}

body{
    width: inherit;
    height: inherit;
    padding: 0;
    margin:0;
}

input{
    width: 300px;
    height: 80px;
    border-radius: 12px;
    border-color: aliceblue;
    background-color: #121314;
    color: aliceblue;
    transition: 0.8s;
    font-family: 'League Spartan', sans-serif;
    font-weight: bold;
    letter-spacing: 1.5px;
    font-size: larger;
}

.container{
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    background-color:#121314;
    align-items: center;
    justify-content: baseline;
    
   
}

.title{
    width:inherit;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: last center;
    justify-content: space-evenly;
    color: aliceblue;
    background-color: #1D1F21;
    border-bottom:2px solid aliceblue;
    font-family: 'League Spartan', sans-serif;
    font-size: 25px;
    font-weight: 900;
    
}


.menu_left{
    width: 30%;
    padding-left: 30px;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: baseline;
}

.menu_center{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu_right{
    width: 30%;
    height: inherit;
    padding-right: 30px;
    display: flex;
    align-items:center;
    justify-content: right;
}

.btn_menu{
    height: 40px;
    width: 80px;
    border-radius: 12px;
    border: solid 2px aliceblue;
    background-color: #1D1F21;
    color: aliceblue;
    transition: 0.8s;
    font-family: 'League Spartan', sans-serif;
    font-weight: bold;
    font-size: small;
    letter-spacing:normal;
}


.but{
    height: 600px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: #121314;
}

input:hover{
    border-color: #121314;
    background-color: aliceblue;
    color: #121314;
    size: 110%;
}