<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <meta http-equiv="Content-Security-Policy" content="style-src 'self' https://fonts.googleapis.com; font-src 'self' https://fonts.gstatic.com;">
    <link rel="stylesheet" href="estilos/index_Style.css">
    <title>UGC-Gestion</title>
</head>
<body>
    <div class="container">
        <div class="title">
            <a class="ugc">UGC</a>
        </div>
        <div class="but">
            <a href="Menu_Estilos"><input type="submit" value="GESTION ESTILOS"></a>
            <a href="Menu_Cortes"><input type="submit" value="GESTION CORTES"></a>
            <a href="Menu_Hilos"><input type="submit" value="GESTION HILOS"></a>
        </div>
    </div>
</body>
</html>