<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="estilos/Menu_Style.css">
    <title>Menu Cortes</title>
</head>
<body>
    <div class="container">
        <div class="title">
            <div class="menu_left"><a href="Regresar_Menu"><input class="regresar" type="submit" value="REGRESAR"></a></div>
            <div class="menu_center"><a class="ugc">Menu estilos</a></div>
            <div class="menu_right"><a href="Usuario"><input class="user" type="submit" value="Usuario"></a></div>
        </div>
        <div class="but">
            <a href="Registro_Cortes"><input type="submit" value="REGISTRO CORTES"></a>
            <a href="Edicion_Cortes"><input type="submit" value="EDICION CORTES"></a>
            <a href="Eliminar_Cortes"><input type="submit" value="ELIMINAR CORTES"></a>
        </div>
    </div>
</body>
</html>