<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../estilos/EstilosEMSS.css">
    <title>REGISTRO HILOS</title>
</head>
<body>
    <div class="container">
        <div class="title">
            <a class="ugc">UGC</a>
        </div>
        <div class="section">
            <a class="page">REGISTRO DE HILOS</a>
        </div>
        <form action="/registro_hilos" method="POST">
            <div class="fields">
                <div class="datos">
                    <div class="datet"><a>Codigo</a></div>
                    <input class="datin" type="text" placeholder="Codigo.." name="codigo" id="codigo">
                    <div class="datet"><a>Nombre</a></div>
                    <input class="datin" type="text" placeholder="Nombre.." name="name" id="name">
                </div>
                <div class="button">
                    <input type="submit" value="Registrar">
                </div>
            </div>
        </form>
    </div>
</body>
</html>